html,
body,
[class|='el'] {
  // 对于 MiSans 字体，应合规要求仅通过 CDN 引入，可在 index.html 查看
  font-family: 'MiSans', var(--el-font-family);
}

body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  --custom-color: white;
}
